Problem A

> Perfeccionar la calculadora realizada en el segundo capitulo.
- Agregar las operaciones raiz cuadrada, raiz cubica y potencia.

Problem B
> 12 materias de una universidad tienen asignado un profesor y alumnos asignados.
	- Crear funcion que al pasar por parametro una materia, devuelva profesor asignado y alumnos.
	- Funcion que indique en cuantas clases esta el alumno de nombre "Cofla"	
	- Nombrar las clases donde esta "cofla" y los profesores de cada una.

Problem C
> Mini sistema inscripcion alumnos
	- Preguntar en que materia se quiere inscribir
	- Preguntar si hay 20 inscriptos negar la inscripcion.
	- Si hay menos de 20, inscribirlo y anadirlo a la lista de alumnos.
