cd dProblem A:
> System to show particulars of THREE cell phones.
Each cell phone has: (attributes)
	- color
	- weight
	- screenResolution
	- camera
	- ram

Each cell phone must be able to: (methods)
	- turnOn
	- reset
	- takePhotos
	- record

> There are TWO more high-end cell phones that can do all of the above (inheritance)
and in addition:
	- Slowmotion recording
	- Facial recognition
	- Extra camera

Problem B:
> There are 7 applications but only two can be downloaded, a choice must be made. 
Create a system that helps to decide which one to download.

Each application will have: (attributes)
	- amountOfDownloads
	- scoreReputation
	- weight

Each application should be able to: (methods)
	- open
	- close
	- uninstall

