Problem A:
> System to show particulars of THREE cell phones.
Each cell phone has: (attributes)
	- color
	- weight
	- screenResolution
	- camera
	- ram

Each cell phone must be able to: (methods)
	- turnOn
	- reset
	- takePhotos
	- record

> There are TWO more high-end cell phones that can do all of the above (inheritance)
and in addition:
	- Slowmotion recording
	- Facial recognition
	- Extra camera

Problema B:
> Existen 7 aplicaciones pero solo se pueden descargar dos, se debe elegir. 
Crear un sistema que ayude a decidir cual descargar.

Cada aplicacion tendra: (atributos)
	- amountOfDownloads
	- scoreReputation
	- weight

Cada aplicacion se debe poder: (metodos)
	- open
	- close
	- uninstall


