Problem A
> To refine the calculator realized in the second chapter.
- Add the operations square root, cube root and power.

Problem B
> 12 subjects of a university have assigned a teacher and students.
	- Create a function that when passing by parameter a subject, returns assigned teacher and students.
	- Function that indicates how many classes a student is in.	
	- Name the classes where a students name entered is and the teachers of each one.

Problem C
> Mini student enrollment system
	- Ask in which subject you want to register
	- Ask if there are 20 (I used 7 but its the same) students enrolled, deny enrollment.
	- If there are less than 20 students (I used 7 but its the same), register them and add them to the list of students.
