Problem A
Check the status of a student in different subjects.

To pass the subjects a student must have:
> 90% attendance, 
> average in the subject >= 7 and 
> 75% of the practical work submitted passed with >=7.
 
You need to:
- Request data and tell him/her if he/she passes or not.
- Use representative colors in console (e.g. if you do not pass in red).

Problem B
A person needs to organize his schedule over 14 days (336 hours). 
It is organized weekly: 24hs to study, 24hs to do practical works, 56 hours of work and 8hs for housework.

It is needed:
- Organize tasks on a daily basis.
- Use the console to organize it.
- Each task should not exceed 4hs.

