*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(26, 24, 24);
}

.container {
    display: flex;
    flex-wrap: wrap;
    font-family: sans-serif;
    color: #333;
}

.flex-item {
    border: .5px solid rgb(224, 224, 224);
    flex-grow: 1;
    margin: 20px;
    max-width: 150px;
    padding: 5px;
    display: flex;
    flex-direction: column;
    align-items: center
}

.flex-item:hover {
    border-color:rgb(47, 105, 47);
    box-shadow:0 0 10px 5px rgb(27, 51, 27);
    cursor: pointer;
}

.flex-item:focus {
    border-color:rgb(47, 105, 47);
    box-shadow:0 0 10 rgb(27, 51, 27);
    cursor: pointer;
}

h2,h3,p {
    font-size: 16px;
}

h2 {
    color: blanchedalmond;
}
h3 {
    color: rgb(199, 199, 199);
}

p {
    color: rgb(199, 199, 199);
}

p b {
    color: rgb(41, 139, 41);
}

.key-img {
    width: 120px;
}

#button {
    background-color: #333;
    padding: .25rem;
    color: blanchedalmond;
    border: 1.5px solid rgb(47, 105, 47);;
    width: 100px;
    display: flex;
    justify-content: center;
    margin: 0 auto;
    margin-bottom: .5rem;
    font-size: 18px;
}

#button:hover {
    border-color:rgb(47, 105, 47);
    box-shadow:0 0 10px 5px rgb(27, 51, 27);
    cursor: pointer;
}