It is necessary to provide information on 20 key models for a locksmith to select the right one to open a door. 
to select the right one to open a door.

Create a system with:
> Indicate the 20 possible keys with images for the customer to select his key type.
> Once selected, send the model data of the key to the server.