*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    color: #222;
    font-family: sans-serif;
}

h1 {
    text-align: center;
    text-decoration: underline;
    text-decoration-color: rgb(11, 241, 192);
    font-size: 24px;
    margin: .75rem 0 .5rem 0;
}

.subjects-container {
    width: 90%;
    border: 1px solid rgb(11, 241, 192);
    background-color: #ccc;
    padding: 2px;
    margin: 0 auto;
    margin-bottom: 1rem;
}

.subject {
    background-color: #efefef;
    display: flex;
    font-size: 18px;
}

.subject div {
    padding: 20px;
}

.subject .score {
    flex-basis: 20px;
    background-color: #d8e5e7;
    font-weight: bold;
}

.subject .name {
    flex-grow: 1;
}