*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    color: #222;
    font-family: sans-serif;
}

.subjects-container {
    width: 90%;
    border: 1px solid rgb(11, 241, 192);
    background-color: #ccc;
    padding: 2px;
}

.subject {
    background-color: #efefef;
    display: flex;
    font-size: 18px;
}

.subject div {
    padding: 20px;
}

.subject .score {
    flex-basis: 20px;
    background-color: #d8e5e7;
    font-weight: bold;
}

.subject .name {
    flex-grow: 1;
}